<header [ngClass]="{'mobile-opened': headerOpened, 'appearence-changed' : scrolled}" id="header">
   <div class="container">
       <div class="row">
           <div class="col-12">
               <div class="header-nav">
                   <div class="header-nav-logo">
                       <a href="index.php"><img alt="" class="logotipo" src="../assets/images/logo.svg"></a>
                       <div class="icon-header">
                           <mat-toolbar class="top-navbar-container d-flex d-md-none">
                              <div (click)="toggleSidenav()" class="buttons-container mdc-button" >
                                 <button 
                                    mat-icon-button 
                                    style="z-index: 99"
                                    >
                                       <mat-icon>search</mat-icon>
                                 </button>
                              </div>
                           </mat-toolbar>
                           <div (click)="toggleMenuMobile()" *ngIf="isMobile" id="open-mobile-menu">
                               <div class="hamburguer">
                                   <span></span>
                               </div>
                               <div class="hamburguer-close">
                                   <span></span>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div [style.visibility]="isHeaderItemsVisible ? 'visible' : 'hidden'" id="header-items">
                     <ul class="main-menu">
                        <li (click)="toggleMenuMobile()" class="menu">
                              <div class="menu-link-mobile">
                                 <a class="menu-link " routerLink="/">
                                    Dashboard 
                                    <mat-icon class="menu-link-icon">arrow_forward</mat-icon>
                                 </a>
                              </div>
                        </li>
                        <li (click)="toggleMenuMobile()" class="menu">
                              <div class="menu-link-mobile">
                                 <a class="menu-link" routerLink="/" routerLinkActive="active">
                                    Platform 
                                    <mat-icon class="menu-link-icon">arrow_forward</mat-icon>
                                 </a>
                              </div>
                        </li>
                     </ul>
                     <mat-toolbar class="top-navbar-container d-flex d-md-none">
                        <div *ngIf="isLoggedIn(); else showSignInLink">
                            <button
                                #button
                                mat-button
                                [matMenuTriggerFor]="loginMenuAccess"
                                #menuTrigger="matMenuTrigger"
                                (mouseenter)="buttonEnter(menuTrigger)"
                                (mouseleave)="buttonLeave(menuTrigger, button)"
                                class="profile-button"
                            >
                            {{ userProfile?.name }}
                            <mat-icon color="accent" class="mat-icon-filled">person</mat-icon>
                            </button>
                    
                            <mat-menu
                                #loginMenuAccess="matMenu"
                                class="logoutDropdownMenu"
                                hasBackdrop="false"
                            >
                                <button
                                    mat-menu-item
                                    (click)="logout()"
                                    (mouseenter)="menuenter()"
                                    (mouseleave)="menuLeave(menuTrigger, button)"
                                >
                                    {{ 'TOP-NAVBAR.LOGOUT' | translate }}
                                    <mat-icon>logout</mat-icon>
                                </button>
                            </mat-menu>
                        </div>
                    
                        <ng-template #showSignInLink>
                            <a mat-button (click)="login()">
                               {{ 'TOP-NAVBAR.LOGIN-REGISTER' | translate }}
                               <mat-icon>person</mat-icon>
                            </a>
                        </ng-template>
                    </mat-toolbar>
                    
                  </div>
                  <mat-toolbar class="top-navbar-container d-none d-md-flex">
                     <div (click)="toggleSidenav()" class="buttons-container mdc-button" >
                        <button 
                           mat-icon-button 
                           style="z-index: 99"
                           >
                              <mat-icon>search</mat-icon>
                        </button>
                       
                    </div>
                     <div *ngIf="isLoggedIn(); else showSignInLink">
                         <button
                             #button
                             mat-button
                             [matMenuTriggerFor]="loginMenuAccess"
                             #menuTrigger="matMenuTrigger"
                             (mouseenter)="buttonEnter(menuTrigger)"
                             (mouseleave)="buttonLeave(menuTrigger, button)"
                             class="profile-button"
                         >
                         {{ userProfile?.name }}
                         <mat-icon color="accent" class="mat-icon-filled">person</mat-icon>
                         </button>
                 
                         <mat-menu
                             #loginMenuAccess="matMenu"
                             class="logoutDropdownMenu"
                             hasBackdrop="false"
                         >
                             <button
                                 mat-menu-item
                                 (click)="logout()"
                                 (mouseenter)="menuenter()"
                                 (mouseleave)="menuLeave(menuTrigger, button)"
                             >
                                 {{ 'TOP-NAVBAR.LOGOUT' | translate }}
                                 <mat-icon>logout</mat-icon>
                             </button>
                         </mat-menu>
                     </div>
                 
                     <ng-template #showSignInLink>
                         <a mat-button (click)="login()">
                            {{ 'TOP-NAVBAR.LOGIN-REGISTER' | translate }}
                            <mat-icon>person</mat-icon>
                         </a>
                     </ng-template>
                 </mat-toolbar>
               </div>
           </div>
       </div>
   </div>
</header>

